.addform{
    display:flex ;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 200px auto;

    width: 300px;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    
}